<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% if app.request.attributes.get('_route') not in ['quest_start', 'quest_view'] %}
    <nav class="navbar">
        <div class="navbar-content">
            <div class="nav-left">
                {% if app.user %}
                    <a href="{{ path('app_home') }}"><img class="nav-icon" src="{{ asset('./images/house.png') }}">Home</a>
                    <a href="{{ path('app_dashboard') }}"><img class="nav-icon" src="{{ asset('./images/dashboard.png') }}">Dashboard</a>
                <a href="{{ path('app_quests') }}"><img class="nav-icon" src="{{ asset('/images/quest.png') }}">Quests</a>
                    {% else %}
                    <a href="{{ path('app_home') }}"><img class="nav-icon" src="{{ asset('./images/house.png') }}">Home</a>
                {% endif %}
            </div>
            <div class="nav-right">
                {% if app.user %}
                    <span class="nav-user">Logged in as {{ app.user.userIdentifier }}</span>
                    <a href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Login</a>
                    <a href="{{ path('register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endif %}

{% block body %}{% endblock %}
</body>
</html>
